.notes2-container {
  height: auto;
  width: auto;
  width: 40%;
  margin: 20% auto;
  text-align: center;
  margin-top: 8rem;
  border: 1px solid silver;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(204, 203, 203, 0.75);
}

.rte-icons1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  cursor: pointer;
  margin: 1rem;
}

.form-container1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  margin: 1rem;
}
input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 0.9rem;
  margin: 0.5rem;
  display: block;
}

input[type="text"].navigation__input {
  padding: 1rem;
  height: 3rem;
  background-color: silver;
}
.ql-container.ql-snow {
  width: 50vh;
  font-size: 1rem;
  height: auto;
  border: 1px solid silver;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid silver;
}

label.label-radio-box1 {
  height: 3rem;
  width: 74%;
  padding: 1rem;
  margin-left: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  color: rgb(2, 2, 2);
  border-radius: 0.2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5rem;
}

.color-pallete1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
input[type="color"] {
  visibility: hidden;
  cursor: pointer;
  border: none;
}
.rte-icons2 {
  font-size: 2rem;
  cursor: pointer;
}
input[type="submit"].take-notes-btn {
  width: 20%;
  margin: 1rem;
  text-align: center;
  background-color: var(--sky-blue-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px black;

  /* new  */
}

span.rte-icons1 {
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  left: 14rem;
}
