.filter {
  margin-top: 5rem;
  margin-left: 17%;
  border-radius: 0.3rem;
  background-color: #cecece;
  width: 80%;
  padding: 0.3rem;
}
select {
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #cecece;
  padding: 0.3rem;
  outline: none;
}
option {
  width: 10%;
  height: auto;
  background-color: #ffffff;
  color: rgb(140, 140, 140);
  font-size: 1rem;
  border-radius: 0.3rem;
}
.priority,
.tag {
  display: flex;
  justify-content: start;
  align-items: center;
}
