.notes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
  overflow: auto;
}
.header-text {
  margin-top: 8rem;
  margin-left: 8rem;
}
.fnpointer {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1rem;
}
