.notes-data-container {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-wrap: wrap;
  margin-left: 4rem;
  width: auto;
}
.header-text {
  margin-top: 8rem;
  margin-left: 8rem;
}
.fnpointer {
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 1rem;
}
