.notes-card {
  width: 50vh;
  height: auto;
  border: 1px solid black;
  border-radius: 0.3rem;
  text-align: left;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
span.notesmi {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.action-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chips-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
span.chips {
  border: 1px solid black;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  padding: 0.2rem;
}
span.label-text {
  font-size: 1rem;
}
