.notes1-container {
  height: auto;
  width: 35%;
  text-align: center;
  margin-left: 40%;
  margin-top: 5rem;
  position: fixed; /* Stay in place */
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: rgb(239, 229, 223);
}

.rte-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  cursor: pointer;
  margin: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  margin: 1rem;
}
input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 0.9rem;
  margin: 0.5rem;
  display: block;
}

input[type="text"] {
  padding: 1rem;
  height: 1rem;
}
.ql-container.ql-snow {
  width: 50vh;
  font-size: 1rem;
  height: auto;
  border: 1px solid black;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

label.label-radio-box {
  height: 2rem;
  width: 90%;
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0.2rem;
}
label.label1-radio-box {
  height: 2rem;
  width: 90%;
  padding: 1rem;
  margin: 2rem;
  margin: 1rem 1rem 2rem 1rem;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 0.2rem;
}
.color-pallete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
input[type="color"] {
  visibility: hidden;
  cursor: pointer;
  border: none;
}
.rte-icons1 {
  font-size: 2rem;
  cursor: pointer;
}
input[type="submit"].take-notes-btn {
  width: 20%;
  margin: 1rem;
  text-align: center;
  background-color: var(--sky-blue-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px black;

  /* new  */
}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
span.rte-icons {
  font-size: 1.5rem;
  font-weight: 800;
  position: relative;
  left: 14rem;
}
